<agm-map [latitude]="lat" [longitude]="lng" (mapClick) = "onLocationClick($event)">
  <agm-marker [latitude]="lat" [longitude]="lng">
    <agm-info-window *ngIf="currentLocation">
      <div class="location">{{currentLocation.name}}</div>
      <div class="country">{{currentLocation.country}}</div>
      <div class="temp-info">{{weather.temperature}}º</div>
      <div class="weather-detail description">
          {{weather.description}}
      </div>
      <div class="weather-detail sub-detail">
        Humidity {{weather.humidity}}%
      </div>
      <div class="weather-detail sub-detail">
        Wind {{weather.windSpeed}} km/h
      </div>
      <div class="time">{{currentLocation.time}}</div>
    </agm-info-window>
  </agm-marker>
</agm-map>